{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}



{% block content %}
<div class="row" style="background-image: url('https://images.pexels.com/photos/306059/pexels-photo-306059.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
  <div class="welcome" style="height: 600px;text-align: center;margin:0 auto;">
  </div>
</div>
<div class="col-md-4">
       <div class="card">
           <img src="https://images.pexels.com/photos/1043519/pexels-photo-1043519.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
https://images.pexels.com/photos/1043519/pexels-photo-1043519.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
" width="300" height="300" class="rounded-circle" alt="avatar">
         <div class="card-body">
           <h5 class="card-title">Mathwiti na makeki</h5>
           <p class="card-text">Best desert services <br> Sugary goodness.Ghai!!</p>
         </div>
         <div class="card-footer">
           <small class="text-muted">contact 0755667788</small><a class="btn btn-primary btn-lg" href="#">Review</a>
         </div>
         </div>
       </div>
<div class="col-md-4">
       <div class="card">
           <img src="https://images.pexels.com/photos/2059193/pexels-photo-2059193.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
https://images.pexels.com/photos/2059193/pexels-photo-2059193.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
" width="300" height="300" class="rounded-circle" alt="avatar">
         <div class="card-body">
           <h5 class="card-title">Veggy</h5>
           <p class="card-text">Vegeterian food<br> quality and fresh food  </p>
         </div>
         <div class="card-footer">
           <small class="text-muted">contact 0755667788</small><a class="btn btn-primary btn-lg" href="#">Review</a>
         </div>
         </div>
       </div>



<div class="col-md-4">
   <div class="card">
       <img src="https://images.pexels.com/photos/954677/pexels-photo-954677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
https://images.pexels.com/photos/954677/pexels-photo-954677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
" width="300" height="300" class="rounded-circle" alt="avatar">
     <div class="card-body">
       <h5 class="card-title">Chakula</h5>
       <p class="card-text">For the best food services <br> quality and fresh food </p>
     </div>
     <div class="card-footer">
       <small class="text-muted">contact 0755667788</small><a class="btn btn-primary btn-lg" href="#">Review</a>
     </div>
     </div>
   </div>
   <div class="col-md-4">
       <div class="card">
         <img src="https://images.pexels.com/photos/111130/potatoes-ketchup-murder-blood-111130.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
https://images.pexels.com/photos/111130/potatoes-ketchup-murder-blood-111130.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
" width="300" height="300" class="rounded-circle" alt="avatar">
         <div class="card-body">
           <h5 class="card-title">Huduma Foods</h5>
           <p class="card-text"><br>kwa chakula bora<br></p>
         </div>
         <div class="card-footer">
           <small class="text-muted">contact 0720389122</small><a class="btn btn-primary btn-lg" href="#">Review</a>
         </div>
         </div>
       </div>


</div>
{% endblock content %}