 <div class="navbar navbar-inverse" style="background-color:white;" role="navigation">
    <div class="container-fluid">
       <div class="navbar-header">
            <span class="navbar-toggler-icon"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/"><img src="https://tbncdn.freelogodesign.org/2885e53c-c280-4879-9b3e-6bc57308e821.png?1556866288909" width="60" height="60" class="rounded-circle" style="border-radius:100%;padding-top:0px; margin-bottom: 20px;" alt="avatar">  </a>                       
                    </li>
                    <li><a href="/" style="color:black;font-size:15px;">HOME</a></li>
                    <li><a href="/grounds" style="color:black;font-size:15px;">GROUNDS</a></li>
                    <li><a href="/tents" style="color:black;font-size:15px;">TENTS</a></li>
                    <li><a href="/cars" style="color:black;font-size:15px;">CARS</a></li>
                    <li><a href="/caterers" style="color:black;font-size:15px;">CATERERS</a></li>
                    <li><a href="/songs" style="color:black;font-size:15px;">MUSIC</a></li>
                    <li><a href="/photography"style="color:black;font-size:15px;">PHOTOGRAPHY</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="color:black;font-size:10px;">PROFILE</a></li>
                    <li><a href="{{url_for('auth.logout')}}" style="color:black;font-size:10px;">SIGN OUT</a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}" style="color:black;font-size:10px;">SIGN IN</a></li>
                    {%endif%}
                </ul>
            </div> 
        </div> 
    </div>  
