{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      {% if title %}
      <title> {{ title }}</title>
      {% else %}
      <title> Home for stories </title>
     
      {% endif %}
    </head>
    <style>
    body{
        background-image :url('https://images.pexels.com/photos/34221/violin-musical-instrument-music-sound.jpg?auto=compress&cs=tinysrgb&dpr=1&w=1500');
        opacity: 1;
        background-attachment:fixed;
        background-size: cover;
        background-position: 100%;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        color: aliceblue;
       }
    
    </style>
    <body>
      <div class="container" style="font-size:25px;">
        {{ wtf.quick_form(provider_form) }}
      </div>
      </body>
    </html>





{% endblock %}
